* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;  
  height: 100%;
  width: 100%;
  max-width: 90em;
  /* background:rgb(221, 240, 238) ; */
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.contenedor {
    width: 100%;
    flex-wrap: wrap;
}
/* * ===== HEADER CONTENEDOR NAVEGACION ====== */
.paginaPrincipal {
    display: inline;
}
.contenedorNavegacion {
   width: 100%;
   max-width: 62.5em;
   margin: 0 auto;
   max-height: 1em;
}
header{
    background: #22C1C3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FDBB2D, #22C1C3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FDBB2D, #22C1C3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: #A4D53E; */
    padding: .5em 0;
    position: relative;
}
header::after{
    content: '';
    clear: both;
    display: block;
}
.contenedorNavegacion .imagenLogo {
  float: left;
  margin: 0;
  height: 8vw;
  max-height: 8vw;
  padding: 0em 2em;
}
.opcionesMenu {
    top: 100%;
    right: 0;
    position: absolute;
    background: #8AA3AC;
    height: 0;
    overflow: hidden;
} 
.opcionesMenu a {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    color: rgb(255, 255, 255); 
    padding:2em 2em;
}
.opcionesMenu a:hover, 
.opcionesMenu a:focus {
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
}
.opcionesMenuOpen {
height: auto;
z-index: 100;
}
.menuToggle {
    padding: 1em;
    position: absolute;
    top: .3em;
    right: .2em;
}
.menuToggleOpen .inicio{
    transform: rotate(45deg);
    }
.menuToggleOpen .inicio::before{
 opacity: 0;
}
.menuToggleOpen .inicio::after{
    transform: translateY(-3px) rotate(-90deg);
   }   
.inicio, 
.inicio::before,
.inicio::after{
content: " ";
display: block;
background: white;
height: 3px;
width: 1.7em;
border-radius: 3px;
} 
.inicio::before{
    transform: translateY(-6px);
}
.inicio::after{
    transform: translateY(3px);
}
@media (min-width:700px){
    .menuToggle{
        display: none;
    } 
    .opcionesMenu{
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        margin-right: 20px;
    } 
    .opcionesMenu a{
        padding: 0;
        margin-left: 3em;
        display: inline-block;
        border: none;
        transition: .3s ease-out all;
    }
    .opcionesMenu a:hover {
        background: #24C4AF;
        color: #fff;
        padding: 1.2em 0.5em;
        border:rgb(43, 150, 127) solid;
  }
    .contenedorNavegacion .imagenLogo {
        float: left;
        margin: 0;
        max-height: 6vw;
        padding: 0em 2em;
  }
}
/* * ===== HEADER CONTENEDOR IMAGEN PORTADA====== */
.contenedorImagen {
    position: relative;
}
.imagenPortada {
    width: 100%;
   max-height: 28em;
}
.contenedorImagen .mensajePortada{
    position: absolute;
    height: auto;
    top: 9%;
    left: 14%;
    text-align: center;
    width: 60vw;
}
.contenedorImagen .mensajePortada h1{
    font-size: 5vw;
    -webkit-text-stroke: 0.02vw white;
}
.contenedorImagen .mensajePortada p{
    font-size: 3.5vw;
    font-weight: bold;
    -webkit-text-stroke: 0.02vw white;
}
.imagengif{
    width: 80mm;
    height: 80mm;
    margin-top: 5mm;
    clip-path: circle(50% at 50% 50%);
}
/* * ===== MAIN CONTENEDOR OPCIONES ====== */
.navegacionOpciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.navegacionOpciones .contenedorOpciones {
    width: 13em;
    border-radius: 6vw;
    margin: 3em 3em;
    text-align: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.25s;
    min-width: 5vw;
    min-height: 16em;
}
.navegacionOpciones .contenedorOpciones:hover {
    transform: translateY(-2vw);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.contenedorOpciones img {
    width: 90%;
    height: 10em;
    padding-bottom: 0;
    box-shadow: 0 2vh 1vh rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}
.imagengif{
    width: 60mm;
    height: 60mm;
    margin: 3em;
    clip-path: circle(50% at 50% 50%);
}
.contenedorOpciones .imagen1 {
    background-color: #3EB0D5;
    height: 100%;
}
.contenedorOpciones .imagen2 {
    background-color: #A4D43E;
    height: 100%;
}
.contenedorOpciones button {
    background-color: #EAE9E9;
    height: 15%;
    width: 90%;
    font-size: 1em;
    border-width: 0;
    box-shadow: 0 2vh 1vh rgba(0, 0, 0, 0.5);
    margin-top: 1em;
    cursor: pointer;
}
/* * ===== POP UP O VENTANA EMERGENTE ======*/
.overLay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);
}
.overLay.active {
    visibility: visible;
}
.popUp{
    background: #F8F8F8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
    font-family: arial;
    padding: 20px;
    text-align: center;
    width: 600px;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
}
.popUp .cerrarPopup{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    transition: .3s ease all;
    color: #BBBBBB;
}
.popUp .cerrarPopup:hover{
    color: rgba(0, 0, 0, 0.2);
}
.popUp h3{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0;
}
.popUp form .contenedorInputs{
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    font-size: 18px;
    line-height: 52px;
    text-align: center;
    border: 1px solid #BBBBBB;
}
.popUp form .contenedorInputs input{
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    font-size: 18px;
    line-height: 52px;
    text-align: center;
    border: 1px solid #928933a4;
}
.popUp form .btnSubmit{
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: arial;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}
.popUp form .btnSubmit:hover{
    background: rgba(94,125,227, .8);
}
/* * ==== ANIMACIONES POPUP === */
.popUp.active { transform: scale(1); opacity: 1; }
.popUp.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popUp.active .contenedorInputs { animation: entradaInputs 1s linear 1s forwards; }
.overLayEntrar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);
}
.overLayEntrar.active {
    visibility: visible;
}
.popUpEntrar{
    background: #F8F8F8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
    font-family: arial;
    padding: 20px;
    text-align: center;
    width: 600px;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
}
.popUpEntrar .cerrarPopupEntrar{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    transition: .3s ease all;
    color: #BBBBBB;
}
.popUpEntrar .cerrarPopupEntrar:hover{
    color: rgba(0, 0, 0, 0.2);
}
.popUpEntrar h3{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0;
}
.popUpEntrar form .contenedorInputs{
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    font-size: 18px;
    line-height: 52px;
    text-align: center;
    border: 1px solid #BBBBBB;
}
.popUpEntrar form .contenedorInputs input{
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    font-size: 18px;
    line-height: 52px;
    text-align: center;
    border: 1px solid #928933a4;
}
.popUpEntrar form .btnSubmitEntrar{
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: arial;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}
.popUpEntrar form .btnSubmitEntrar:hover{
    background: rgba(94,125,227, .8);
}
/* * ==== ANIMACIONES POPUP === */
.popUpEntrar.active {   transform: scale(1); opacity: 1; }
.popUpEntrar.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popUpEntrar.active .contenedorInputs { animation: entradaInputs 1s linear 1s forwards; }
@keyframes entradaTitulo {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes entradaInputs {
    from { opacity: 0; }
    to { opacity: 1; }
}
/* * ===== MAIN CONTENEDOR HISTORIA ====== */
.historia {
    position: relative;
    align-items: justify;
    font-size: 1.1em;
    margin: 0vw 7vw;
    padding-bottom: 4vw;
    line-height: 1.5em;
    word-spacing: 3pt;
}
.historia h1 {
    padding-bottom: 4vw;
    text-align: center;
    text-shadow: 0px 0px 3px black;
    font-size: 1.5em;
}
.historia span {
    font-weight: bold;
}
/* * ===== MAIN CONTENEDOR IMAGENES POPULARES ====== */
.imgPopulares h3 {
    text-align: center;
    font-size: 1.5em;
    font-family: arial;
    margin-top: 10px;
    color: black;
    text-shadow: 0px 0px 3px black;
}
img{
    max-width: 100%;
}
.contenedorCarrusel{
    position: relative;
    max-width: 50em;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    margin: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 9s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}
.pagination{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}
.pagination-item:hover{
    transform: scale(2);
}
.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}
.pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
}
input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);
}
input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #fff;
}
input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}
input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #fff;
}
input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}
input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #fff;
}
input[id="4"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 3), 0, 0);
}
input[id="4"]:checked ~ .pagination .pagination-item[for="4"]{
    background: #fff;
}
input[id="5"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 4), 0, 0);
}
input[id="5"]:checked ~ .pagination .pagination-item[for="5"]{
    background: #fff;
}
input[id="6"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 5), 0, 0);
}
input[id="6"]:checked ~ .pagination .pagination-item[for="6"]{
    background: #fff;
}
@keyframes autoplay{
    16%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    32%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    48%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
    64%{
        transform: translate3d(calc(-100% * 3), 0, 0);
    }
    80%{
        transform: translate3d(calc(-100% * 4), 0, 0);
    }
    100%{
        transform: translate3d(calc(-100% * 5), 0, 0);
    }
}

/* * ===== FOOTER ====== */
footer{
    width: 100%;
    /* background: #A4D53E; */
    color: #141414;
    background: #22C1C3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FDBB2D, #22C1C3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FDBB2D, #22C1C3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: black solid 0.01em;
}
footer .containerFullFooter{
    width: 100%;
    max-width: 72em;
    padding: 1em;
  }
.container__body {
    display: flex;
    justify-content: space-around;
}
.colum1 {
    max-width: 25em;
    padding-right: 3em;
    padding-left: 2em;
    text-align: center;
}

.colum1 h1{
    font-size: 1.4em;
}
.colum1 p{
    font-size: 1em;
    color: #141414;
    margin-top: 0.3em;
    width: 20em;
}

.colum2 {
    max-width: 25em;
    padding-right: 2.4em;
    text-align: center;
}
.colum2 h1 {
    font-size: 1.4em;
}
.fila{
    margin-top: 1em;
    display: flex;
}
.fila i{
    width: 2.3em;
    height: 2em;
    font-size: 1.3em;
}
.colum3{
    max-width: 25em;
    padding-right: 0em;
}
.colum3 h1{
    font-size: 1.4em;
    padding-bottom: 0.5em;
}
.fila2{
display: block;
}
.fila2 i{
    width: 36px;
    height: 36px;
}
.fila2 label{
    margin-top: 1em;
    margin-left: 20px;
    max-width: 140px;
}
.container__footer{
    width: 100%;
    border: black solid;
    background: black;
}
.footer1 {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}
.copyrigt{
    color: #C7C7C7;
}
.copyrigt a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.informacion a {
    text-decoration: none;
    color:white;
}
.fa-facebook-square{
     color: blue;
}
.fa-twitter-square {
    color: rgb(23, 126, 160);
}
.fa-instagram {
    color:rgb(180, 15, 15);
}
.fa-google-plus {
    color: rgb(112, 20, 20);
}
.fa-pinterest {
    color: red;
}
.fa-home, .fa-mobile-alt, .fa-envelope {
    color: rgb(247, 241, 241);
}
@media screen and (max-width:1000px){
    .container__body{
        flex-wrap: wrap;
    }
    .colum1{
        max-width: 100%;
    }
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}

.descripcionTarjeta {
    display: inline-block;
}
.descripcionTarjeta div {
    margin: 0em 0.5em;
    justify-content: space-around;
    width:20em;
    height: 8em;
    margin: 2em 1em;
}
/* * ===== Pagina conoce mas de los atletas ====== */

.btnAtras {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.btnAtras button {
    background: #c21500;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc500, #c21500);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc500, #c21500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 8em;
    height: 4em;
    margin: 3em 3em;
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    cursor: pointer; 
    font-size: 1,8em;
    color: honeydew;
    margin-left: 6em;
    border-width: 0;
    margin-top: 0.6em;
    position: absolute;
     
} 
 .btnAtras:active {
    transform: scale(1.10); 
}

.paginaConoceMasAtletas {
    display: none;
    margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    position: relative;
    
}
.contenedorTarjetas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.cardPersona{
    background: rgb(43, 128, 143);
    margin: 1em;
    width:12em;
    height: 19em;
    padding: 1em 1.5em;
    border-radius: 5%;
    box-shadow: 0 2vh 1vh rgba(0, 0, 0, 0.5);
    cursor: pointer;
    overflow: hidden;
    align-items: center;    
}


.cardPersona h3 {
    margin-top: 0.4em;
    font-size: 100%;
    font: inherit;
    text-align: center;
    font-weight: bold;
    padding-bottom: 0.5em;
    border-bottom: 1px solid white;
    }

.cardPersona h3 {
    margin-bottom: 0.5em;
    font-weight: bold;
    text-align: center;
}
    
.cardPersona p {
    line-height: 1em;
    text-align: center;
}

.imagenAtleta {
    width: 9em;
    height: 9em;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.7);
    }

.imagenAtleta img {
    width: 100%;
    height: 100%;
    }
    .selectBusqueda{
        width: 90%;
        max-width: 75em;
        margin: 2em 0 0.06rem 2em;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;  
        

    } 
    
    .busqueda{
        margin-bottom: 1em;
        font-size: 18 em;
    }
    input, select {
        margin-bottom: 1em;
        padding: 1em;
        border-radius: 3px;
        border: 1px solid rgb(103, 190, 161);
        cursor: pointer;
        font-size: 00.9em;
        color: gray;
    }
    .btnBuscar {
        margin-bottom: 1em;
        padding: 1em;
        border-radius: 3px;
        border: 1px solid  rgb(103, 190, 161);
        background: rgb(83, 128, 83);
        color: honeydew;
        cursor: pointer;
        font-size: 0.9em;
    } 
    .btnBuscar:active {
        transform: scale(1.10); 
    }
    
   
    /* * ===== MEDALLERO ====== */
    .medallero {
    display: none;
    margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    }

    @media (min-width:700px){
    .cardPersona:hover {
        width: 14em;
        height: 19em;
        border-radius: 0.5em;
        }    
    .cardPersona{
        background: rgb(91, 201, 182);
        margin: 1em;
        width:14em;
        height: 13em;
        padding: 1em 2.7em;
        border-radius: 50%;
        box-shadow: 0 2vh 1vh rgba(0, 0, 0, 0.5);
        cursor: pointer;
        overflow: hidden;
        align-items: center;    
        transition: width 0.4s, height 0.4s, border-radius 0.6s;
      }
    } 
